@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
font-family: Poppins;
font-style: normal;
font-size: 15px;
line-height: 24px;
text-decoration: none;
}

body a {
  color: #6F31AD;
  text-decoration: none;
}

body a:hover {
  color: #6F31AD;
}

.col-3{
  width: 326px;
}
label{
  cursor: pointer;
}
.card-header{
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.card {

float: none;
text-align: center;
background: #FEFEFE;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
/*    word-wrap:break-word;   */
}

/* Style the buttons */
img {
object-fit: cover;
width: 80px;
height: 80px;
border-radius: 50% solid;
z-index: 0;
}
#file{
display: none;
}

/*******************card css***************************/
/*box config*/
#ident_class{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;

/* identical to box height, or 100% */
color: #AB58B9;
}

#class_cod{

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 8px;
text-align: justify;
color: #4F4F4F;

}
/*student icon, dot and count number*/
#student_icon{
color: #AB58B9;
font-size: 20px;
cursor: pointer;

font-family: Material Icons;
cursor: pointer;
border-radius: 50px;
text-decoration: none;
}
#dot{
color: #AB58B9;
font-size: 20px;

font-family: Material Icons;
cursor: pointer;
border-radius: 50px;
text-decoration: none;
}
#student_count{

font-size: 20px;
color: #AB58B9;

font-family: Poppins;
cursor: pointer;
border-radius: 50px;
text-decoration: none;

}
  /*student icon, dot and count number*/
#class_lock{
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      cursor: pointer;
      
      color: #AB58B9;
}
#cont_div1{
 height: 25px;
 float: left;
  
}
#cont_div2{
  height: 25px;
  text-align: right;
  float: left;
  padding-right: 5px;
 
 }
 #cont_div3{
  height: 25px;
  float: right;
 
 }
 #teacher{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;

  text-align: left;

  color: #4F4F4F;
}
#progress_bar_tittle{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 8px;
/* identical to box height, or 100% */
align-items: left;

color: #4F4F4F;
}
.progress-bar{
width: 50%;
}
.DISCIPLINA{
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #AB58B9;
  }
  .DISCIPLINA:hover{
      color: #6F31AD;
  }
/*******************card css***************************/


/*******************header css***************************/
/*=========nav=========*/
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 1rem;
  margin-bottom: 0;
  list-style: none;
  background: #F3F5F7;
  border-radius: .25rem;
  --bs-breadcrumb-divider: '>';
}
#list{
  color: #AB58B9;
  padding-top: 8px;
  font-size: 16px;
  line-height: 32px;
  padding-left: 15px;
  cursor: pointer;
}
/*=========nav=========*/
/*=========bimestre=========*/
#bimestre{
  font-size: 18px;
  line-height: 24px;
  
}

#diario-turma{
  font-size: 18px;
  line-height: 24px;
  width: 100%;

}

#drop_bimestre{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 228px;
  height: 48px;
  color: #AB58B9;
  
  

}
#drop_bimestre:hover{
background: #FFFDFD;
border: 1px solid #6F31AD;
box-sizing: border-box;
border-radius: 8px;
width: 228px;
color: #6F31AD;

}
#drop_list{
width: 25%;
}
/**/
#bimestre_filter_btn{
  float: right;
  cursor: pointer;
}

/**/
#filter_buttom{
      border-radius: 24px;
      background-color: #AB58B9;
      font-family: Poppins, Material icons;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      width: 126px;
      height: 48px;
      text-align: justify;

      cursor: pointer;
      
}
#icon_fil{
  padding-top: 5px;
  width: 30%;
  float: left;
  cursor: pointer;
}
#filter_text{
  text-decoration: none;
  color: black;
  width: 70%;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
#back_class_bar{
  background: #D6E3EA;
  border-radius: 2px 2px 0px 0px;
  height: 40px;
  left: 86px;
  padding-top: 7px;
  padding-left: 7px;
  margin-bottom: 7px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4F4F4F;
  background: #D6E3EA;
}


body{
  margin: 0 20px 20px 20px;
}


/*=========bimestre=========*/

#ModalLabel{
  text-align: center; 
  border: none; 
  margin: 0 auto;
  font-weight: 600;
}
.modal-content{
  border-radius: 25px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
#center_align_div{
  text-align: center;
}
#lbl_drop_filters{
  margin-left: 20%;

}
#dropdown_prontuario{
  width: 100%;
  height: 48px;
  left: calc(50% - 496px/2 - 7px);
  top: 320px;

  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #AB58B9;
}
#dropdown_ocorrencia{
  width: 100%;
  height: 48px;
  left: calc(50% - 496px/2);
  top: 408px;
  
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #AB58B9;
}
#dropdown_gravidade{
  width: 100%;
  height: 48px;
  left: calc(50% - 496px/2);
  top: 408px;
  
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #AB58B9;
}
#dropdown_evolucao{
  width: 100%;
  height: 48px;
  left: calc(50% - 496px/2);
  top: 408px;
  
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #AB58B9;
}
#detalhe_ocorrencia{
  width: 100%;
  height: 135px;
  left: calc(50% - 496px/2);
  top: 588px;

  background: #FFFDFD;
  border: 1px solid #AB58B9;
  box-sizing: border-box;
  border-radius: 8px;
}
.dropdown-menu{
  width: auto;
  border: darkgrey 0.5px solid;
}
#save_prontuario{
  background: #AB58B9;
  border-radius: 24px;
}
#cancel_changes{

  border-radius: 24px;
}

/*===============WARNING CONTENT===================*/
#warning_content{
  width: 454px;
  height: 152px;
  left: calc(50% - 454px/2);
  top: 385px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  align-items: center;
  text-align: center;

  color: #000000;
}
#manual_btn{
      background: #AB58B9;
      border-radius: 24px;
      border: none;
      width: 40%;
      height: 48px;

      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;

      color: #ffffff;
}
#close_warning{
      border-radius: 24px;
      border: 0.5px solid darkgrey;
      width: 40%;
      color: #AB58B9;
}

/*============CONFIRMATION MODAL=================*/

#confirmation_content{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  align-items: center;
  text-align: center;

  color: #000000;
}
#lock_icon{
  top: 100%;
  font-size: 24px;
}


#manual_btn{
  background: #AB58B9;
  border-radius: 24px;
  border: none;
  width: 40%;
  height: 48px;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  color: #ffffff;
}
#close_warning{
      border-radius: 24px;
      border: 0.5px solid darkgrey;
      width: 40%;
      color: #AB58B9;
}
/*========filter modal=========*/
#modalFilter{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}
#dropdown_professor{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 276px;
  text-align: right;
}
#dropdown_bimestre{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 276px;
  text-align: right;
}
#dropdown_series{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 276px;
  text-align: right;
}
#dropdown_turmas{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 276px;
  text-align: right;
}

#apply_filter{
  background: #AB58B9;
  border-radius: 24px;
  width: 35%;
}
#close_filter{
  background: #FFFFFF;
  border: 1px solid #AB58B9;
  box-sizing: border-box;
  border-radius: 24px;
  width: 35%;
}
/*========filter modal=========*/
#myFilter{
  display: block;
}