<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
        
        
    </head>
    <body>
             <!-- migalha de pão -->
             <nav style="--bs-breadcrumb-divider: '\F27B';" class="breadcrumb" aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Notas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lista de Alunos</li>
             </ol>
            </nav>
            <div class="row">
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                <div class="column col-3">
                    <div>
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        <label class="-label" for="file">
                            <img src="profile.jpg" id="output"/>
                        </label>
                    </div>
                    <p id="nome">Willian Bonner</p>
                    <p id="idade">5 Anos</p>
                    <p id="dataNascimento">30/02/2017</p>
                    
                    <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                    <p></p>
                    <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    <p></p>
                    <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    <p></p>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <p></p>
                    <span id="search" class="material-icons-outlined">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined">add</span>
                    
                </div>
                
            </div>
  

    </body>
</html>
