<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../class-selection-page/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="../modais/css/styles-of-modals.css">
        <script src="../../../class-selection-page/JS/bootstrap.bundle.min.js"></script>
        <script src="script.js"></script>

    </head>
<body>
    
</body>
</html>