<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../class-selection-page/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="../modais/css/styles-of-modals.css">
        <script src="../../../class-selection-page/JS/bootstrap.bundle.min.js"></script>
        <script src="script.js"></script>
        
        
    </head>

    <body>
        <div class="row">
            <div class="col-11 col-top ">
                <h2 id="SERIETURMA" style="font-size: 25px; margin-left: 32px;margin-top: 34px; margin-bottom: 22px; font-weight: 600; float: left;">6º  Ano - A</h2>
            </div>
            <div class="col-1 col-top"> 
                <a href="../../../class-selection.html"><span class="material-icons-outlined close-student-page" style="font-size: 50px; font-weight: 600; float: right; margin-top: 34px; margin-right: 32px;">
                    highlight_off
                    </span></a>
            </div>
        </div>
        
            <div class="row row-student">
                <header>
                   
                    <!-- migalha de pão -->
                    <div id="fundo-navegação">
                        <nav aria-label="breadcrumb" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="../../../class-selection.html">Notas</a></li>
                              <li>
                                <span class="material-icons-next">
                                    navigate_next
                                </span>
                            </li>
                              <li class="breadcrumb-item active" aria-current="page">Lista de Alunos</li>
                            </ol>
                          </nav>
                    </div>
                </header>
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="add_a_photo.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    <br>
                    <br>
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    <br>
                    <br>
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
                <div class="column col-3 col-3-combo mx-auto">
                    <div id="profile_add">
                        <input id="file" type="file" onchange="loadFile(event)"/>
                        
                        <label class="-label" for="file">
                            <div class="img-cropper">
                                <img src="blank.png" alt="" id="output"/>
                            </div>
                        </label>
                    </div>
                    <div id="nome">Willian Bonner 1</div>
                    <div id="idade">5 Anos</div>
                    <div id="dataNascimento">30/02/2017</div>
                    <br>
                    <div class="dados">
                        <div id="mae">Mãe:<span style="font-weight: normal;">Annette Black</span></div>
                        
                        <div id="pai">Pai:<span style="font-weight: normal;">Cameron Williamson</span></div>
                    
                        <div id="responsavel">Responsável:<span style="font-weight: normal;">Cameron Williamson</span></div>
                        
                        <div id="tel">Telefone:<span style="font-weight: normal;">(00)9 9999-9999</span></div>
                    </div>
                    <label id="ocorrencia" style="font-weight: bold">Ocorrências</label>
                    <br>
                    
                    <span id="search" class="material-icons-outlined2 btn btn-student">search</span>&nbsp &nbsp<span id="adicionar" class="material-icons-outlined2 btn btn-student" data-bs-toggle="modal" data-bs-target="#modal_prontuario">add</span>
                    
                </div>  
            </div>
  

    </body>
    
<!-- Modal prontuário -->
<div class="modal fade" id="modal_prontuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center; border: none; margin: 0 auto;">Prontuário do Aluno</h5>
        </div>
        <p style="text-align: center;"><strong>LUKAS SILVA E SILVA</strong></p>
        <div class="modal-body">
            <div  class="dropdown">
                <label>Prontuário</label>
                <button class="btn btn-outline-secondary dropdown-toggle btn-prontuario" type="button" id="dropdown_prontuario" data-bs-toggle="dropdown" aria-expanded="false">
                    Prontuário
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown_prontuario">
                  <li><a class="dropdown-item" href="#">PRONTUÁRIO A</a></li>
                  <li><a class="dropdown-item" href="#">PRONTUÁRIO B</a></li>
                  <li><a class="dropdown-item" href="#">PRONTUÁRIO C</a></li>
                </ul>
            </div>
            <br>
            <div  class="dropdown">
                <label>Ocorrência do Prontuário</label>
                <button class="btn btn-outline-secondary dropdown-toggle btn-ocorrencia" type="button" id="dropdown_ocorrencia" data-bs-toggle="dropdown" aria-expanded="false">
                    Ocorrência do Prontuário
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown_ocorrencia">
                  <li><a class="dropdown-item" href="#">Ocorrência do Prontuário A</a></li>
                  <li><a class="dropdown-item" href="#">Ocorrência do Prontuário B</a></li>
                  <li><a class="dropdown-item" href="#">Ocorrência do Prontuário C</a></li>
                </ul>
            </div>
            <br>
            <div>
                <div  class="dropdown" style="width: 45%; float: left; width: 50%;">
                    <label>Gravidade</label>
                    <button class="btn btn-outline-secondary dropdown-toggle btn-gravidade" type="button" id="dropdown_gravidade" data-bs-toggle="dropdown" aria-expanded="false">
                        Gravidade
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown_gravidade">
                      <li><a class="dropdown-item" href="#">Gravidade A</a></li>
                      <li><a class="dropdown-item" href="#">Gravidade B</a></li>
                      <li><a class="dropdown-item" href="#">Gravidade C</a></li>
                    </ul>
                </div>
                <div  class="dropdown" style="width: 45%; float: right;">
                    <label>Evolução</label>
                    <button class="btn btn-outline-secondary dropdown-toggle btn-evolucao" type="button" id="dropdown_evolucao" data-bs-toggle="dropdown" aria-expanded="false">
                        Evolução
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown_evolucao">
                      <li><a class="dropdown-item" href="#">Evolução A</a></li>
                      <li><a class="dropdown-item" href="#">Evolução B</a></li>
                      <li><a class="dropdown-item" href="#">Evolução C</a></li>
                    </ul>
                </div>
            </div>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
            <label>Detalhes da Ocorrência:</label>
            <textarea id="detalhe_ocorrencia" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea>
        </div>
            <div style="text-align: center;">
                <button id="save_prontuario" type="button" class="btn btn-outline" style="width: 30%;">salvar</button>
                <p></p>
                <button id="cancel_changes" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="width: 30%;">Cancelar</button>
                <p></p>
            </div>
      </div>
    </div>
  </div>
  <!-- Modal prontuário -->
</html>

