@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
header, #bimestre-and-filter, #class{margin: 5px 5px 5px 5px;}
* {
font-family: Poppins;
font-style: normal;
font-size: 16px;
line-height: 24px;
}
.col-3{
  width: 326px;
}

.card-header{
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.card {

vertical-align: middle;
float: none;
text-align: center;
background: #FEFEFE;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
/*    word-wrap:break-word;   */
}

/* Style the buttons */
img {
object-fit: cover;
width: 80px;
height: 80px;
border-radius: 50% solid;
z-index: 0;
}
#file{
display: none;
}

/*******************card css***************************/
/*box config*/
#ident_class{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;

/* identical to box height, or 100% */
color: #AB58B9;
}

#class_cod{

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 8px;
text-align: justify;
color: #4F4F4F;

}
/*student icon, dot and count number*/
#student_icon{
color: #AB58B9;
font-size: 20px;
cursor: pointer;

font-family: Material Icons;
cursor: pointer;
border-radius: 50px;
text-decoration: none;
}
#dot{
color: #AB58B9;
font-size: 20px;

font-family: Material Icons;
cursor: pointer;
border-radius: 50px;
text-decoration: none;
}
#student_count{

font-size: 20px;
color: #AB58B9;

font-family: Material Icons;
cursor: pointer;
border-radius: 50px;
text-decoration: none;

}
  /*student icon, dot and count number*/
#class_lock{
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      cursor: pointer;
      
      color: #AB58B9;
}
#cont_div1{
 height: 25px;
 float: left;
  
}
#cont_div2{
  height: 25px;
  text-align: right;
  padding-top: 4px;
  float: left;
 
 }
 #cont_div3{
  height: 25px;
  float: right;
 
 }
*{
text-decoration: none;
}
#progress_bar_tittle{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 8px;
/* identical to box height, or 100% */
align-items: left;

color: #4F4F4F;
}
.progress-bar{
width: 50%;
}
.disciplinas{
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #AB58B9;
  }
  .disciplinas:hover{
      color: #6F31AD;
  }
/*******************card css***************************/


/*******************header css***************************/
/*=========nav=========*/
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 1rem;
  margin-bottom: 0;
  list-style: none;
  background: #F3F5F7;
  border-radius: .25rem;
  --bs-breadcrumb-divider: '>';
}
#list{
  color: #AB58B9;
  padding-top: 8px;
  font-size: 16px;
  line-height: 32px;
  padding-left: 15px;
  cursor: pointer;
}
/*=========nav=========*/
/*=========bimestre=========*/
#bimestre{
  font-size: 18px;
  line-height: 24px;
}

#diario-turma{
  font-size: 18px;
  line-height: 24px;
  width: 100%;

}

#drop_bimestre{
  background: #FFFDFD;
  border: 1px solid #6F31AD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 228px;
  height: 48px;
  color: #AB58B9;
  

}
#drop_bimestre:hover{
background: #FFFDFD;
border: 1px solid #6F31AD;
box-sizing: border-box;
border-radius: 8px;
width: 228px;
color: #6F31AD;

}
#drop_list{
width: 25%;
}
/**/
#bimestre_filter_btn{
  float: right;
}

/**/
#filter_buttom{
      border-radius: 24px;
      background-color: #AB58B9;
      font-family: Poppins, Material icons;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      width: 136px;
      height: 48px;
      text-align: justify;
      margin: 5px 5px 5px 5px;
      
}
#icon_fil{
  padding-top: 5px;
  width: 30%;
  float: left;
}
#filter_text{
  text-decoration: none;
  color: black;
  width: 70%;
  float: right;
  padding-top: 8px;
}
#back_class_bar{
  background: #D6E3EA;
  border-radius: 2px 2px 0px 0px;
  height: 40px;
  left: 86px;
  margin: auto auto;
  padding-top: 7px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4F4F4F;
  background: #D6E3EA;
}




/*=========bimestre=========*/
