<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="teste.css">
        
    <title>teste-card-grid</title>
</head>
<body>
  <div class="container">
    <div class="row">
       <!--card-->
        <div class="col-3">
          <div class="card">
            <h5 class="card-header">
              <div id="cont_div1" class="col-auto"><label id="ident_class">6º ANO - A</label></div>
              <div  id="cont_div2"class="col-7">
                  <a id="student_icon" class="material-icons" href="student_list.html">perm_identity</a><span id="dot" class="material-icons">&bull;</span><span id="student_count" class="material-icons">30fps</span>
              </div>
              <div id="cont_div3" class="col-sm-1">
                  <span id="class_lock" class="material-icons">lock_open</span>
              </div>
            </h5>
            <div class="card-body">
              <div class="card-title"></div>
                <p class="card-text"><a class="disciplinas" href="attendance-page.html">LÍNGUA PORTUGUESA, MATEMÁTICA, CIÊNCIAS, HISTÓRIA, GEOGRAFIA</a></p>
                <div class="col-12"><hr></div>
                <div class="col-12">
                    <label id="progress_bar_tittle">AULAS DADAS X AULAS PREVISTAS</label>
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="70" style="width: 38.5%"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
       <!--card-->
    </div>
  </div>
</body>
</html>